{{{header}}}


<tr>
	<td style="padding: 0 30px 15px;">
		<h1 style="font-size: 20px;">Your free trial of {{plan_name}} is
			expiring soon!</h1> <!-- message-body -->
		<p style="font-size: 14px">We hope you've enjoyed your free trial
			of {{plan_name}}! This is just a friendly reminder that your trial is
			scheduled to convert to a paying subscription on
			{{subscription_trial_ends_at}}.</p>

		{{#company_hosted_account_management_full_access?}}
		<p style="font-size: 14px">
			You may manage your subscription via <a
				href="{{account_hosted_maintenance_url}}">your account</a>. If you
			have any questions, please contact <a href="mailto:{{company_email}}">{{company_email}}</a>.
		</p> {{/company_hosted_account_management_full_access?}} <!-- /message-body -->
	</td>
</tr>

{{{footer}}}
